<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Yo <%= @user.user_name %>, nice work on creating that event (<%= @group.name %>). See ya there.
    </p>
  </body>
</html>
