<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%= @user.user_name %>, really glad to see that you've decided to join
      <%= @group.author %> and <%= @group.users %> other Matchers at <%= @group.name %>.
      Hope it's a lot of fun!
    </p>
    <p>
      -the MatchMeet Team
    </p>
  </body>
</html>
