<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our community, <%= @user.user_name %>!</h1>
    <p>
      You have successfully signed up to MatchMeet - get excited!
      We hope you have a great time meeting new people and trying new things.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
    <p>
      -the MatchMeet Team
    </p>
  </body>
</html>
