<head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>

  <body>


    <div id="wrld-map"></div>

<script>
const berkeleyLat = 37.8719;
const berkeleyLong = -122.2585;

function createMap(pos) {
  console.log(pos);
  var map = null;
  var initLat;
  var initLong;
  if (pos) {
      initLat = pos.coords.latitude;
      initLong = pos.coords.longitude;
  } else {
      initLat = berkeleyLat;
      initLong = berkeleyLong;
  }

  console.log(initLat);
  map = L.Wrld.map("wrld-map", "230f0e3aff3e146b4a87f3ebf4fcb306", {
      center: [initLat, initLong],
      zoom: 16
  });
  var latlng = L.latLng(berkeleyLat, berkeleyLong);
  map.precache(latlng, 50);

  // obtain events from ruby in JSON
  var result = '[{"lat":37.8719, "long":-122.2585}, {"lat":37.8750, "long":-122.2600}, {"lat":37.8730, "long":-122.2585}, {"lat":37.8725, "long":-122.2595}, {"lat":37.8732, "long":-122.2560}]';
  eventLst = JSON.parse(result);
  var names = ["Naruto run", "Meme-writing session", "Studying for CS", "Pickup basketball", "Hacking @ Cal Hacks"];
  var description = ["Come run with us!", "Memes make dreams", "Because 170 is hella hard", "Ball is life", "What is sleep anyway?"];
  for (var i = 0; i < eventLst.length; i++) {
      var e = eventLst[i];
      console.log(e);
      var lat = e.lat;
      var long = e.long;
      var marker = L.marker([lat, long], {
          title: names[i],
          opacity: 0.8
      }).bindTooltip(names[i], {
          permanent: true,
          direction: 'top',
          offset: L.point(0, -50),
          classname: "event_marker"
      }).bindPopup(description[i])//.openPopup()
      .on('mouseover', function (e) {
          this.openPopup();
      })
      .on('mouseout', function (e) {
          this.closePopup();
      })
      .addTo(map);
  }
}

var main = function() {
  if (navigator.geolocation) {
      console.log("ask geolocation permis");
      navigator.geolocation.getCurrentPosition(createMap, createMap);
  } else {
      createMap(null);
  }
};


main();
</script>

<div class= "container">
<h1>Groups Near You</h1>

</div>
