<div class="container-fluid">
    <div class="posts-wrapper row">
<!-- Suggested post-->
<div class="post">
    <h1>Suggested Event (Events our app found enough people to be interested)
  <div class="post-head">
    <div class="name">
      <%= @maxG.name %>
      <p><%= @maxG.description %>
    </div>
  </div>
</div>

<h1>Existing Events
      <% @groups.each do |group| %>
        <div class="post">
          <div class="post-head">
            <div class="name">
              <%= link_to group.name, group_path(group) %>
            </div>
          </div>
          <p class="caption">
            <%= group.category %>
          </p>
        </div>
      <% end %>
    </div>
</div>
