<head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>

  <body>
  <div style="position: relative">
    <div id="map"></div>
    <script>
      var map = L.Wrld.map("map", "230f0e3aff3e146b4a87f3ebf4fcb306", {
        center: [37.8710434, -122.2507726],
        zoom: 16
      });
    </script>

  </div>
  </body>
